.vscode/**
.vscode-test/**
src/**
skills/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!out/**
!images/**
!media/**
!LICENSE
!README.md
!CHANGELOG.md
